.main {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  padding-top: 35px;
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;

  .main-nav {
    @include flex (row, center, center);
    flex-wrap: wrap;

    a {
      @include flex (row, center, center);
      flex-wrap: wrap;
      height: 13vh;
      width: 20vw;
      margin-right: 10px;
      margin-bottom: 10px;
      background-repeat: no-repeat;
      background-size: cover;
      color: $color-light;
      font-weight: $font-light;
      text-decoration: none;
      font-size: 30px;
      text-transform: uppercase;
      transition: $transition;
      font-family: $font-header;

      p {
        display: none;
        opacity: 0;
        padding: 0;
        margin: 0;
        font-size: 12px;
      }

      h5 {
        margin: 0;
        font-weight: $font-normal;
      }
    }

    a:hover {
      p {
        text-align: center;
        flex: 0 0 100%;
        opacity: 1;
        display: block;
      }
    }

    a:first-child {
      flex: 0 0 48%;
      background-image: url(../images/pizza_img/pizza-1.jpg);
    }

    a:nth-child(2) {
      flex: 0 0 48%;
      background-image: url(../images/pizza_img/pizza-2.jpg);
    }

    a:nth-child(3) {
      flex-direction: column;
      flex: 0 0 98%;
      background-color: $color-main;

      p {
        flex: 0 0 0;
        opacity: 1;
        display: block;
      }
    }
  }

  .openingHours {
    background-color: $color-main;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    height: 120px;
    text-align: center;
    color: $color-light;
    margin-bottom: 50px;

    h1{
      @extend .h1;
      padding-top: 29px ;
      padding-bottom: 0;
      margin-top: 5px;
      margin-bottom: 0;
    }

    h2{
      @extend .h2;
      padding-top: 0;
      margin-top: 2px;
    }
  }

  // owl-carousele
  .image img {
    width: 210px;
    height: 210px;
    object-fit: cover;
  }

  .owl-stage-outer {
    height: 230px;
  }

  .opinions-wrapper {
    height: auto;
  }

  .opinions {
    display: flex;
    margin: 50px 0;

    .opinions-content {
      margin: 0 0 0 30px;
      padding: 0;

      h3 {
        padding-top: 10px;
        margin: 0;
        text-transform: uppercase;
      }

      p:last-child {
        font-style: italic;
      }
    }
  }

  // Gallery
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;

    .gallery-photo {
      position: relative;
      flex: 0 0 33.3%;

      .gallery-icon {
        display: none;
        position: absolute;
        top: 45%;
        left: 40%;
      }

      .fas {
        color: white;
        font-size: 20px;
      }

      .fa-heart:hover {
        color: red;
      }

      .fa-share-alt:hover {
        color: black;
      }

      .photo {
        width: 100%;
        height: 226.44px;
        padding: 3px 5px;
        object-fit: cover;
        filter: brightness(100%);
      }
    }

    .gallery-photo:hover {
      .gallery-icon {
        display: block;
      }

      .photo {
        opacity: 0.7;
        filter: brightness(30%);
      }
    }
  }

  // Footer

  .footer-link a {
    color: $color-main;
    font-family: $font-text;
    padding-top: 50px;
  }
}
